@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorArgument</title>
</head>
<body>
    <div>
        <h1 class="text-danger">SQL Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
        <pre>@Model.Exception.Message</pre>
    </div>
</body>
</html>
